/*--- VARIABLES ---*/

$color: (
  primary: #62a384,
  primary-light: #c1e8d5,
  secondary: #a36648,
  secondary-light: #fadcd5,
  accent: #aa8aeb,
  accent-dark: #7d60a3,
  background: #fff,
);

@function color($color-name) {
  @return map-get($color, $color-name);
}

$font-size: (
  xs: 15px,
  s: 25px,
  m: 40px,
  l: 60px,
  xl: 75px,
);

@function font-size($font-size-pixel) {
  @return map-get($font-size, $font-size-pixel);
}

$font-weight: (
  light: 200,
  regular: 400,
  medium: 500,
  bold: 700,
);

@function font-weight($font-weight-number) {
  @return map-get($font-weight, $font-weight-number);
}

$font-family-serif: 'Libre Baskerville', serif;
$font-family-sans-serif: 'Raleway', sans-serif;

/*--- BASIC SETUP ---*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
body {
  background: color(background);
  color: color(primary);
  font-family: $font-family-sans-serif;
}

li {
  list-style: none;
}

/*--- REUSABLE ---*/

/* Column sections */

.section {
  margin: 5rem;
}

.section-title {
  color: color(accent);
  display: inline-block;
  font-family: $font-family-serif;
  font-size: font-size(xl);
  margin: 0 -6rem;
  opacity: 20%;
}

/* Button */

.button {
  background-color: color(primary-light);
  border: color(primary);
  border-radius: 30% 50% / 75% 30%;
  font-size: font-size(xs);
  padding: 0.5rem 0.8rem;
}

.button:link,
.button:visited {
  color: color(primary);
  letter-spacing: 0.05rem;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: color(secondary-light);
  border-radius: 25% 65% / 35% 45%;
  color: color(secondary) !important;
  transition: all 0.2s linear;
}

/* Nav Bar */

.nav {
  align-items: center;
  color: color(primary);
  display: flex;
  height: 5rem;

  &__title a:link,
  &__title a:visited {
    color: color(primary);
    font-size: font-size(s);
    font-weight: font-weight(bold);
    letter-spacing: 0.2rem;
    margin: 2rem;
    text-decoration: none;
  }

  &__list {
    display: flex;

    &--options a:link,
    &--options a:visited {
      color: color(primary);
      letter-spacing: 0.1rem;
      margin-right: 1.5rem;
      text-decoration: none;
    }

    &--options a:hover,
    &--options a:focus {
      color: color(secondary) !important;
      transition: all 1s linear;
    }
  }

  .button {
    margin-left: auto;
    margin-right: 1.5rem;
  }
}

/* Main */

.main {
  align-items: center;
  display: flex;
  justify-content: space-around;

  &__text {
    width: 50vw;

    &--headline {
      color: color(accent);
      font-family: $font-family-serif;
      font-style: italic;
      margin: 1rem 0;
      font-weight: font-weight(regular);
    }

    &--slogan {
      color: color(accent-dark);
      font-size: font-size(m);
      margin: 1rem 0;
    }

    &--copy {
      color: color(accent-dark);
      margin: 1rem 0 2rem 0;
    }
  }

  &__img {
    animation: morph_1 10s linear infinite alternate;
    border-radius: 40% 60% 50% 35% / 70% 25% 65% 40%;
    height: auto;
    width: 22rem;
  }
}

@keyframes morph_1 {
  0% {
    border-radius: 40% 60% 50% 35% / 70% 25% 65% 40%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

/* About CLSS */

.about-clss {
  &__column {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;

    &--img {
      animation: morph_2 10s linear infinite alternate;
      border-radius: 25% 75% 45% 50% / 50% 25% 70% 45%;
      height: auto;
      width: 22rem;
    }

    &--copy {
      margin-left: 3rem;
      width: 50vw;

      &-paragraph {
        margin: 2rem 0;
        height: 100%;
        line-height: 1.5;
        object-fit: contain;
      }
    }
  }
}

@keyframes morph_2 {
  0% {
    border-radius: 25% 75% 45% 50% / 50% 25% 70% 45%;
  }
  100% {
    border-radius: 35% 70%;
  }
}

/* CLSS Talents */

.talents {
  &__column {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    &--title {
      color: color(accent);
      font-size: font-size(m);
      font-style: italic;
      margin-top: 2rem;
    }

    &--copy {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &-icon {
        color: color(secondary-light);
        font-size: font-size(xl) * 4;
        margin-left: 3rem;
        opacity: 30%;
        width: 15vw;
        z-index: -1;
      }

      &-description {
        color: color(secondary);
        line-height: 1.5;
        margin: 2rem;
        width: 40vw;
      }

      &-score {
        color: color(accent-dark);
        font-size: font-size(s);
        font-weight: font-weight(medium);
        width: 15vw;
      }
    }
  }
}

/* Message Board */

.msg-board {
  &__msg {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1.5rem;
    margin: 2rem 0;

    &--card {
      animation: morph_3 10s linear infinite alternate;
      border: solid 0.3rem;
      border-color: color(secondary-light);
      border-radius: 40% 60% 50% 35% / 70% 25% 65% 40%;
      height: 17rem;
      padding: 3rem;

      &-title {
        color: color(accent);
        font-weight: font-weight(bold);
        letter-spacing: 0.1rem;
        margin-bottom: 0.5rem;
      }

      &-name {
        font-style: italic;
        margin-bottom: 0.5rem;
      }

      &-copy {
        color: color(accent-dark);
        font-family: $font-family-serif;
        height: 7rem;
      }
    }
  }
}

@keyframes morph_3 {
  0% {
    border-radius: 40% 60% 50% 35% / 70% 25% 65% 40%;
  }
  100% {
    border-radius: 70% 25% 65% 40% / 40% 60% 50% 35%;
  }
}

/* Message Form */

.msg-form {
  &__body {
    margin: 0 30%;

    &--row {
      font-weight: font-weight(bold);
      letter-spacing: 0.1rem;
      margin: 2rem 0;
      text-align: start;

      &-label {
        margin-bottom: 0.5rem;
      }

      &-input {
        border: solid 0.2rem color(secondary-light);
        border-radius: 1rem;
        font-family: $font-family-sans-serif;
        font-size: font-size(xs);
        letter-spacing: 0.1rem;
        padding: 0.5rem;
        width: 100%;
      }

      &-input::placeholder {
        color: color(secondary);
        opacity: 30%;
      }

      &-input:hover,
      &-input:focus {
        color: color(secondary);
        border-color: color(secondary);
        outline: none;
        transition: all 1s;
      }

      &-copy {
        color: color(secondary);
        height: 7rem;
        resize: none;
      }
    }

    &--submit {
      background-color: color(secondary-light);
      border: solid 0.2rem color(secondary-light);
      border-radius: 1rem;
      color: color(background);
      font-family: $font-family-sans-serif;
      font-size: font-size(xs);
      letter-spacing: 0.1rem;
      padding: 0.5rem;
      width: 10rem;
    }

    &--submit:hover,
    &--submit:focus {
      background-color: color(secondary);
      border-color: color(secondary);
      transition: all 2s;
    }
  }
}

/* Thumbs Up Collector */

.thumbs-up {
  &__body {
    font-size: font-size(l);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 10vw;

    &--number {
      font-size: font-size(xl) *2;
    }

    &--count {
      width: 35vw;
    }

    &--icon {
      background-color: color(secondary-light);
      border: solid 0.3rem color(secondary-light);
      border-radius: 5rem;
      box-shadow: 0 0.5rem 0rem color(secondary);
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 7rem;
      padding: 0.5rem 2rem;
      width: auto;

      &-text {
        font-size: font-size(m);
        margin-left: 1rem;
      }
    }

    &--icon:link,
    &--icon:visited {
      color: color(secondary);
      text-decoration: none;
    }
  }
}


/* Footer */

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 8rem;
}