/*--- VARIABLES ---*/
/*--- BASIC SETUP ---*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem; }

header,
body {
  background: white;
  color: #62a384;
  font-family: "Raleway", sans-serif; }

li {
  list-style: none; }

/*--- REUSABLE ---*/
/* Column sections */
.section {
  margin: 5rem; }

.section-title {
  color: #aa8aeb;
  display: inline-block;
  font-family: "Libre Baskerville", serif;
  font-size: 75px;
  margin: 0 -6rem;
  opacity: 20%; }

/* Button */
.button {
  background-color: #c1e8d5;
  border: #62a384;
  border-radius: 67% 33% 40% 60% / 42% 26% 74% 58%;
  font-size: 15px;
  padding: 0.5rem 0.8rem; }

.button:link,
.button:visited {
  color: #62a384;
  letter-spacing: 0.05rem;
  text-decoration: none; }

.button:hover {
  background-color: #fadcd5;
  border-radius: 23% 77% 40% 60% / 42% 57% 43% 58%;
  color: #a36648 !important;
  transition: all 0.2s linear; }

/* Background */
.drips {
  left: 0;
  margin-top: -2rem;
  pointer-events: none;
  position: absolute;
  position: fixed;
  top: 0;
  transform: rotate(180deg);
  transform: scaleY(-1);
  z-index: 1; }
  .drips__drip {
    opacity: 0.4; }
    .drips__drip--white {
      opacity: 1; }

/* Nav Bar */
.nav {
  align-items: center;
  color: #62a384;
  display: flex;
  height: 5rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  .nav__title a:link, .nav__title a:visited {
    color: #62a384;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin: 2rem;
    text-decoration: none; }
  .nav__list {
    display: flex; }
    .nav__list--options a:link, .nav__list--options a:visited {
      color: #62a384;
      letter-spacing: 0.1rem;
      margin-right: 1.5rem;
      text-decoration: none; }
    .nav__list--options a:hover, .nav__list--options a:focus {
      color: #a36648 !important;
      transition: all 0.5s linear; }
  .nav .button {
    margin-left: auto;
    margin-right: 1.5rem; }

/* Main */
.main {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 10rem; }
  .main__text {
    width: 50vw; }
    .main__text--headline {
      color: #aa8aeb;
      font-family: "Libre Baskerville", serif;
      font-style: italic;
      margin: 1rem 0;
      font-weight: 400; }
    .main__text--slogan {
      color: #7d60a3;
      font-size: 40px;
      margin: 1rem 0; }
    .main__text--copy {
      color: #7d60a3;
      margin: 1rem 0 2rem 0; }
  .main__img {
    animation: morph_1 10s linear infinite alternate;
    border-radius: 40% 60% 50% 35% / 70% 25% 65% 40%;
    height: auto;
    width: 22rem; }

@keyframes morph_1 {
  0% {
    border-radius: 40% 60% 50% 35% / 70% 25% 65% 40%; }
  100% {
    border-radius: 40% 60%; } }
/* About CLSS */
.about-clss__column {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0; }
  .about-clss__column--img {
    animation: morph_2 10s linear infinite alternate;
    border-radius: 25% 75% 45% 50% / 50% 25% 70% 45%;
    height: auto;
    width: 22rem; }
  .about-clss__column--copy {
    margin-left: 3rem;
    width: 50vw; }
    .about-clss__column--copy-paragraph {
      margin: 2rem 0;
      height: 100%;
      line-height: 1.5;
      object-fit: contain; }

@keyframes morph_2 {
  0% {
    border-radius: 25% 75% 45% 50% / 50% 25% 70% 45%; }
  100% {
    border-radius: 35% 70%; } }
/* CLSS Talents */
.talents__column {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem 0; }
  .talents__column--title {
    color: #aa8aeb;
    font-size: 40px;
    font-style: italic;
    margin-top: 2rem; }
  .talents__column--copy {
    align-items: center;
    display: flex;
    justify-content: space-between; }
    .talents__column--copy-icon {
      color: #fadcd5;
      font-size: 300px;
      margin-left: 3rem;
      opacity: 30%;
      width: 15vw;
      z-index: -1; }
    .talents__column--copy-description {
      color: #a36648;
      line-height: 1.5;
      margin: 2rem;
      width: 40vw; }
    .talents__column--copy-score {
      color: #7d60a3;
      font-size: 25px;
      font-weight: 500;
      width: 15vw; }

/* Message Board */
.msg-board__no-msg {
  display: none;
  font-size: 25px;
  font-style: italic;
  margin: 5rem 0;
  text-align: center; }
  .msg-board__no-msg--icon {
    margin-top: 1rem; }
.msg-board__msg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 18rem));
  grid-auto-rows: 20rem;
  grid-gap: 1.5rem;
  margin: 2rem 0; }
  .msg-board__msg--card {
    border: solid 0.3rem;
    border-color: #fadcd5;
    border-radius: 35% 5%;
    padding: 2.5rem 3rem;
    position: relative; }
    .msg-board__msg--card-title {
      color: #aa8aeb;
      letter-spacing: 0.1rem;
      margin-bottom: 0.5rem; }
    .msg-board__msg--card-name {
      color: #a36648;
      font-style: italic;
      margin-bottom: 0.5rem; }
    .msg-board__msg--card-copy {
      color: #7d60a3;
      font-family: "Libre Baskerville", serif;
      height: 9.5rem;
      margin-bottom: 0.5rem; }
    .msg-board__msg--card-date {
      position: absolute;
      bottom: 2.5rem; }
.msg-board__pagination {
  color: #62a384;
  display: flex;
  justify-content: center;
  margin: 2rem 0; }
  .msg-board__pagination--btn {
    background-color: #c1e8d5;
    border: #62a384;
    border-radius: 67% 33% 40% 60% / 42% 26% 74% 58%;
    display: none;
    font-size: 15px;
    letter-spacing: 0.1rem;
    margin: 1rem;
    padding: 0.5rem 1rem; }
  .msg-board__pagination--btn:link, .msg-board__pagination--btn:visited {
    letter-spacing: 0.05rem;
    text-decoration: none; }
  .msg-board__pagination--btn:hover {
    background-color: #fadcd5;
    border-radius: 23% 77% 40% 60% / 42% 57% 43% 58%;
    color: #a36648;
    cursor: pointer;
    transition: all 0.2s linear; }
  .msg-board__pagination--btn:disabled {
    background-color: #c1e8d5;
    border: #62a384;
    border-radius: 67% 33% 40% 60% / 42% 26% 74% 58%;
    color: #62a384;
    cursor: not-allowed;
    opacity: 50%; }

/* Message Form */
.msg-form__body {
  margin: 0 30%; }
  .msg-form__body--row {
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    text-align: start; }
    .msg-form__body--row-label {
      margin-bottom: 0.5rem; }
    .msg-form__body--row-input {
      border: solid 0.2rem #fadcd5;
      border-radius: 1rem;
      color: #a36648;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      letter-spacing: 0.1rem;
      padding: 0.5rem;
      width: 100%; }
    .msg-form__body--row-input::placeholder {
      color: #a36648;
      opacity: 30%; }
    .msg-form__body--row-input:hover, .msg-form__body--row-input:focus {
      color: #a36648;
      border-color: #a36648;
      outline: none;
      transition: all 1s; }
    .msg-form__body--row-copy {
      color: #a36648;
      height: 7rem;
      resize: none; }
  .msg-form__body--submit {
    background-color: #fadcd5;
    border: solid 0.2rem #fadcd5;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    letter-spacing: 0.1rem;
    padding: 0.5rem;
    width: 10rem; }
  .msg-form__body--submit:hover, .msg-form__body--submit:focus {
    background-color: #a36648;
    border-color: #a36648;
    transition: all 2s; }

/* Thumbs Up Collector */
.thumbs-up__body {
  font-size: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 10vw; }
  .thumbs-up__body--number {
    font-size: 150px; }
  .thumbs-up__body--count {
    width: 35vw; }
  .thumbs-up__body--button {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .thumbs-up__body--button-icon {
      background-color: #fadcd5;
      border: solid 0.3rem #fadcd5;
      border-radius: 5rem;
      box-shadow: 0 0.5rem 0rem #a36648;
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 7rem;
      padding: 0.5rem 2rem; }
    .thumbs-up__body--button-icon:link, .thumbs-up__body--button-icon:visited {
      color: #a36648;
      text-decoration: none; }
    .thumbs-up__body--button-text {
      font-size: 40px;
      margin-left: 0.5rem; }
    .thumbs-up__body--button-copy {
      color: #a36648;
      font-size: 15px;
      margin-top: 1rem; }

.clicked {
  transform: translateY(0.5rem);
  box-shadow: none !important; }

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 8rem; }

/*# sourceMappingURL=main.css.map */
